<h4>Bonjour {{ username }}</h4>
<br>
Vous avez demandé la modification de votre mot de passe, afin de finaliser cette action veuillez cliquer sur le lien de réinitialisation de mot de passe suivant
<br>
<br>
<a href="{{ changePasswordLink }}">Changer mon mot de passe</a>
<br>
<br>
Cordialement,
<br>

